.mozilla/
.password-store/
.cache/
.gnupg/
.local/
.ssh/
.vim/
.config/go/
Downloads/
Projects/
yay/
.bash_history
.bash_logout
.bash_profile
.viminfo
.zcompdump-julee-5.9
.zcompdump-julee-5.9.zwc
.zsh_history
.oh-my-zsh
.npm
git-credential-manager-core-bin/

